<div class="main" ng-controller="DashController">
    <h1 class="page-header">{{userData.name}} <small>{{userData.blog}}</small></h1>
    
    <h2 class="sub-header">{{userData.desc}}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>{{peopleHeading}}</th>
                    <th>
                    <a ng-click="orderByField='contribution'; reverseSort = !reverseSort" href="">
                        {{contributionHeading}}
                    </a></th>
                    <th>{{repoNameHeading}}</th>
                    <th>
                    <a ng-click="orderByField='contribFollowers'; reverseSort = !reverseSort" href="">
                        {{followersHeading}}
                    </a></th>
                    <th>
                    <a ng-click="orderByField='contribRepos'; reverseSort = !reverseSort" href="">
                        {{pubReposHeading}}
                       
                    </a></th>
                    <th>
                    <a ng-click="orderByField='contribGists'; reverseSort = !reverseSort" href="">
                        {{pubGistsHeading}}
                    </a></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="rank in mixedData | orderBy:orderByField:reverseSort">
                    <td><a ng-href="#/users/{{rank.contributorLogin}}">
                            <i>{{rank.contributorLogin}}</i>
                    </td>
                    <td>{{rank.contribution}}</td>
                    <td><a ng-href="#/repos/{{rank.repoName}}"><i>{{rank.repoName}}</i></a>
                    </td>

                    <td>{{rank.contribFollowers}}</td>
                    <td>{{rank.contribRepos}}</td>
                    <td>{{rank.contribGists}}</td>
                </tr>
            </tbody>
        </table>
        <ul ng-hide="isDataAvailable === false" class="pager">
            <li><a ng-href="#/">Home</a></li>
            <li><a ng-hide="pagePrevious < 1" ng-href="#/page{{pagePrevious}}">Previous</a></li>
            <li><a ng-hide="pageNext > maxPages" ng-href ="#/page{{pageNext}}">Next</a></li>
        </ul>
    </div>
</div>