<div class="main" ng-controller="UserController">
    <h1 class="page-header">{{userTitle}} <small>{{userLogin}}</small></h1>
    <h3 class="sub-header">{{userCompany}}</h3>
    <h4 class="sub-header">{{userBio}} {{linkLabel}} 
        <a ng-href="{{userHtml}}">{{userHtml}}</a></h4>
    <h4 class="sub-header">{{userDesc}} <a>{{userBlog}}</a></h4>
    <h4 class="sub-header">{{reposNumberLabel}} {{pubRepos}} <br>{{gistsNumberLabel}} {{pubGists}}</h4>
    <h4 class="sub-header" ng-hide="isDataAvailable === true">{{errorLabel}}</h4>
    <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>{{repoHeading}}</th>

                    <th>
                        <a ng-click="orderByField = 'contributed'; reverseSort = !reverseSort">
                            {{contributionsHeading}}
                        </a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in contributionData | orderBy:orderByField:reverseSort">
                    <td><a ng-href="#/repos/{{repo.repoName}}"><i>{{repo.repoName}} - </i>
                        </a><small>{{repo.repoDesc}}</small></td>
                    <td>{{repo.contributed}}</td>

                </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li><a ng-hide="isDataAvailable === false" ng-href="#/">Home</a></li>
        </ul>
    </div>
</div>