<div class="main" ng-controller="RepoController">

    
    <h1 class="page-header">{{repoTitle}} <small>{{repoDesc}}</small></h1>

    
    <h4> <a ng-href="{{repoHtml}}">{{repoHtml}}</a></h4>
    <h4 class="sub-header" ng-hide="isDataAvailable === false">{{repoForksLabel}} {{forks}} <br>
        {{repoStargazersLabel}} {{stargazers}}<br>
        {{repoWatchersLabel}} {{watchers}}</h4>
    <h4 class="sub-header" ng-hide="isDataAvailable === true">{{errorLabel}}</h4>
    <h5 class="sub-header" ng-hide="isDataAvailable === false">
        {{createdLabel}}{{repoCreated| date : short : timezone}}<br>
        {{updatedLabel}}{{repoUpdated| date : short : timezone}}</h5>
    <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        <a ng-click="orderByField = 'contributed'; reverseSort = !reverseSort">
                            {{contributionHeading}}
                        </a></th>
                    <th>{{contributorHeading}}</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="people in contributorData| orderBy:orderByField:reverseSort">
                    <td>{{people.contributed}}</td>
                    <td><a ng-href="#/users/{{people.userName}}"><i>{{people.userName}}</i></a></td>

                </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li><a ng-hide="isDataAvailable === false" ng-href="#/">Home</a></li>

        </ul>
    </div>
</div>